@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');

.App {
  text-align: center;
}
body {
  padding: 0%;
  margin: 0%;
  font-family: 'Montserrat', sans-serif;
}

nav {
  margin: 0;
  width: 100%;
  height: 80px;
  background-color: #4B9CD3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

nav li {
  display: inline-block;
  margin-left: 150px;
  margin-right: 150px;
}

a {
  color: white;
  text-decoration: none;
  margin: 10px;
  font-size: 25px;
  margin-left: 50px;
  font-weight: bold;
}

h3 {
  font-size: 100%;
  margin: 1%;
}

.logout {
  background-color: #4B9CD3;
  border: 100px;
  color: white;
  align-self: right;
  padding: 100px 100px auto;
  text-align: center;
  text-decoration: none;
  position: absolute;
  right: 50px;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.logout:hover {
  transform: scale(1.2);

}

.createPostPage {
  width: 100%;
  height: calc(100vh - 80px);
  display: grid;
  place-items: center;
}

.cpContainer {
  width: 75%;
  margin: 10px auto;
  height: auto;
  padding: 20px;
  border-radius: 5px;
  background-color: #f1f1f1;
  color: black;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.cpContainer h1 {
  text-align: center;
}

.cpContainer label {
  font-size: 25px;
}
.cpContainer .inputGp {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  margin: 1% auto;
  width: 80%;
}

.submitButton {
  border: transparent;
  background-color: #d2e0f9;
  font-size: 150%;
  padding: 10px 10px;
  margin: 20px auto;
  display: block;
  border-radius: 8px;
  font-size: 120%;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  transition: transform 200ms ease-in-out;
}

.submitButton:hover {
  transform: scale(1.1);
}

.uploadButton {
  background-color: #d2e0f9;
  font-family: 'Montserrat', sans-serif;
  width: 20%;
  display: block;
  margin: auto;
  transition: transform 200ms ease-in-out;
}

.uploadButton:hover {
  transform: scale(1.1);
}

.inputGp input,
.inputGp textarea {
  font-size: 18px;
  border: none;
  border-radius: 2px;
  padding: 5px;
}

.inputGp input {
  height: 40px;
}
.inputGp textarea {
  height: 150px;
}

.cpContainer button {
  margin-top: 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
}
input,
textarea {
  margin-top: 5px;
}

.loginPage {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(loginbg.jpeg);
  background-size: cover;
  background-color: azure;
  opacity: 0.75;
}

.loginPage p {
  color: var(--mainText);
  font-weight: 500px;
  font-weight: bold;
  font-size: 50px;
}

.tradeNCLogo {
  position: absolute;
  left: 30px;
  top: 1px;
}

.login-in-with-google-butn {
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 5px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  color: #757575;
  font-size: 25px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}
  

.login-in-with-google-butn:hover {
  border-color: rgba(255,255,255,1);
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
}
.login-in-with-google-butn:active {
  background-color: #eeeeee;
}
.login-in-with-google-butn:focus {
  outline: none;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25),
    0 0 0 3px #c8dafc;
}
.login-in-with-google-butn:disabled {
  filter: grayscale(100%);
  background-color: #ebebeb;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}

.homePage {
  width: 100%;
  height: 800px;
  min-height: calc(100vh - 80px);
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  padding-top: 20px;
}

.homePage .post {
  width: 400px;
  height: auto;
  max-height: 600px;
  background-color: rgb(250, 250, 250);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

.post > * {
  box-sizing: border-box;
}

.post .postHeader {
  display: flex;
  justify-content: center;
  width: 100%;
}

.postHeader .title {
  flex: 1%;
  font-size: 68%;
  margin: 0rem auto;
}

.postHeader .deletePost {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.deletePost button {
  border: none;

  background: none;
  font-size: 30px;
  cursor: pointer;
}

.postImage {
  display: block;
  height: 10em;
  width: 60%;
  margin: 2.5% auto;
  border-color: transparent;
  border-radius: 6px;
  object-fit: cover;
}

.post .postTextContainer {
  padding: 1.5%;
  word-wrap: break-word;
  background-color: #f1f1f1;
  border-radius: 8px;
  height: 70px;
  max-height: 70px;
  width: 100%;
  overflow: hidden;
  overflow-y: scroll;
  margin: 3% auto;
}

.post .priceContainer {
  margin: 1% 1%;
}

.post .contactContainer {
  margin: 1% 1%;
}

.closeIcon :hover{
  color: red;
}